<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万事万物皆有所托</title>
    <link rel="shortcut icon" href="../static/bitbug_favicon%20.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/loginStyle.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
     user-scalable=no" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_490455_a2izgl1g0dmibe29.css">
</head>


<body>
    <img src="../static/loginBackgroundPic.png">
    <p class="slogan">万事万物皆有所托</p>
    <img src="../static/logo.png" class="logo">
    <div class="box">
        <form action="#">
            <span class="iconfont icon-yonghu"></span>
            <input type="text" name="number" placeholder="学号" class="input-number"><br>
            <hr/>
            <span class="iconfont icon-mima"></span>
            <input type="password" name="password" placeholder="密码" class="input-password">
            <hr/>
            <p id="para">密码错误</p>
            <a href="#">忘记密码?</a>
            <input type="submit" value="登录" class="submit">
        </form>
    </div>

<script>


  function login(){
    var key=document.getElementsByClassName("input-number")[0].value
    var value=document.getElementsByClassName("input-password")[0].value

    var oStr = '';
    var postData = {
      "user_id":key,
      "password":value
    };
    var data=JSON.stringify(postData)
    //var data = JSON.stringify(postData)
    var oAjax = null;
    try{
      oAjax = new XMLHttpRequest();
    }catch(e){
      oAjax = new ActiveXObject("Microsoft.XMLHTTP");
    };
    //post方式打开文件
    oAjax.open('post','http://120.79.58.147:80/loginapi',true);
    //post相比get方式提交多了个这个
    oAjax.setRequestHeader("Content-type","application/json");
    //post发送数据
    oAjax.setRequestHeader("Token","null");
    oAjax.send(data);
    oAjax.onreadystatechange = function(){
      //当状态为4的时候，执行以下操作
      if(oAjax.readyState == 4){
        var data=oAjax.responseText;//开始修改
        data1 = eval('(' + data + ')');
        if (data1.message=="ok"){
          window.location.href="../templates/oddJobsHouse.html";
        }
        if (oAjax.status!=200){
          alert("账号或密码错误");
        }//修改结束
      };
    };

  }



</script>


</body>
</html>
