<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万事万物皆有所托</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="shortcut icon" href="../static/bitbug_favicon%20.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/mineDelegateStyle.css" type="text/css" />
</head>
<body>

<div class="cover-area"></div>
<div class="mine-delegate"><p>我的委托</p><a href="mine.html"><img src="../static/back.png" class="back"></a></div>


<div class="index">


</div>



<script>

ajax({
    method: 'post',
    url: '嘀嘀嘀',
    data: {},
    success: function(text){
        var json = JSON.parse(text);
        var html="";
        for(var i = 0;i<json.length;i++){
            if(json[i].type = 0)
                var word = "【发布委托】"
            else if(json[i].type = 1)
                word = "【接受委托】"

            html += "<div class='delegate'><p>" + word + "</p></div><div class='dlgt-detail'><p>" + json[i].name +
            "</p></div><div class='deadline'>" + "截止：" + "<span>" + json[i].date + "</span></div>";
        }
        $('.index').html(html);
    },
    async:true

})


</script>





</body>
</html>
