<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/bitbug_favicon%20.ico" type="image/x-icon" />
    <script type="text/javascript" src="../static/homeJavaScript.js"></script>
    <title>万事万物皆有所托</title>
</head>
<frameset rows="*,7.42%">

  <frame src="home.html" name="main-content" id="homeframe">
  <frame src="navBar.html" >

</frameset>
<body>

</body>
</html>
