

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.cover-area{
    background-color: rgb(126,206,244);
    width: 100%;
    height: 2.8%;
}

.box{
    width: 100%;
    height: 6.6%;
    background-color: rgb(126,206,244);
    color: white;
    position: relative;
    top: -0.1%;
    text-align: center;

}

.back{
    position: relative;
    z-index: 8;

}
.head{
    font-size: 2.375em;
    margin: 0;
    position: relative;
    top: 19%;
    font-family: PingFangSC-Medium;
    width: 100%;
    left: 0;

}

.box img{
    width: 3%;
    height: 46%;
    position: absolute;
    left: 5.33%;
    top: 25%;
}

.uoload-pic{
    height: 20.99%;
    width: 100%;
    background-color: rgb(220,220,220);
    display: flex;
    justify-content: center;

}

.photoicon{
    color: white;
    width: 13.5%;
    height: 8%;
    position: absolute;
    top: 15%;

}

p{
    font-size: 1.55em;
    margin: 0;
    width: 17%;
    left: 5.33%;
    position: absolute;
}

.content-head{
    width: 89.33%;
    height: 5.997%;
    border: solid 3px rgb(126,206,244);
    position: absolute;
    bottom: 58.096%;
    left: 5.33%;

}

textarea{
    width: 89.33%;
    height: 13.193%;
    border: solid 3px rgb(126,206,244);
    position: absolute;
    bottom: 38%;
    left: 5.33%;
    font-size: 1.75em;
    color: rgb(153,153,153);

}

.reward{
    border: solid 3px rgb(126,206,244);
    height: 4.047%;
    width: 78%;
    position: absolute;
    bottom: 30.9595%;
    right: 5.33%;
}

.deadline{
    border: solid 3px rgb(126,206,244);
    height: 4.047%;
    width: 68.93%;
    position: absolute;
    bottom: 23.913%;
    right: 5.33%;
}


.contact{
    border: solid 3px rgb(126,206,244);
    height: 4.047%;
    width: 68.93%;
    position: absolute;
    bottom: 16.866%;
    right: 5.33%;
}

.p-name{
    position: absolute;
    bottom: 65.51%;
    right: 5.33%;
}

.p-detail{
    position: absolute;
    bottom: 52.698%;
    right: 5.33%;
}

.p-reward{
    position: absolute;
    bottom: 32%;
    right: 5.33%;
}

.p-date{
    position: absolute;
    bottom: 25%;
    right: 5.33%;
}

.p-cont{
    position: absolute;
    bottom: 18%;
    right: 5.33%;

}

input{
    font-size: 1.75em;
    color: rgb(153,153,153);
}


button{
    width: 78.7%;
    height: 6.596%;
    position: absolute;
    bottom: 3%;
    left: 10.7%;
    background-color: rgb(126,206,244);
    color: white;
    font-size: 2.15em;
    border: 0;
}

#dead-hour {
    position: absolute;
    left: 90%;
    top: 72.5%;
    width: 5%;
}

























